<section class="container-fluid" id="formularioReserva">
<ul *ngFor="let reserva of arrReservas()" class="l1">
    <li id="li1"> {{ reserva.nombrecompleto }}
    </li>
    <li id="li1"> {{ reserva.email }}
    </li>
    <li id="li1"> {{ reserva.telnumero }}
    </li>
    <li id="li1"> {{ reserva.ciudad }}
    </li>
    <li id="li1"> {{ reserva.cpostal }}
    </li>
    <li id="li1"> {{ reserva.pais }}
    </li>
    <li id="li1"> {{ reserva.detallesviaje }}
    </li>
    <li id="li1"> {{ reserva.destino }}
    </li>
    <li id="li1"> {{ reserva.fechai }}
    </li>
    <li id="li1"> {{ reserva.fechaf }}
    </li>
    <li id="li1"> {{ reserva.numeroadultos }}
    </li>
    <li id="li1"> {{ reserva.numeronino }}
    </li>
    <li id="li1"> {{ reserva.tipohabit }}
    </li>
</ul>
</section>

