footer {
    font-family: 'Kalam', cursive;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: rgb(6, 6, 6);
    color: rgb(237, 234, 234);
}
/* Estilos generales para el footer */
.container-fluid {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.textofooter {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media screen and (max-width: 768px) {
    .textofooter {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .social-icons {
        margin-top: 10px;
    }
}
    /* Estilos para los iconos
